/TestResults

/CodeFirst.Tests/obj/Debug
/CodeFirst.Tests/obj/Release
/CodeFirst.Tests/bin/Debug
/CodeFirst.Tests/bin/Release

/CodeFirst.DataAccess/obj/Debug
/CodeFirst.DataAccess/obj/Release
/CodeFirst.DataAccess/bin/Debug
/CodeFirst.DataAccess/bin/Release

/CodeFirst.App/obj/Debug
/CodeFirst.App/obj/Release
/CodeFirst.App/bin/Debug
/CodeFirst.App/bin/Release

/.vs